.ssh
.cache
.DS_Store
.ipynb_checkpoints
.jupyter
.bash_history
.vscode-server
.python_history
.gitconfig
.devcontainer.json
__pycache__

elasticsearch/nodes
vue
model
doc2vec
config/books.txt
config/config.yml
backup
db/data
templates/mypage.html
.ssh
