{% extends "layout.html" %}
{% block content %}

<div class="container-fluid mb-4">
    <div class="p-5 text-center bg-light" style="margin-top: 20px;">
        <h3 class="mb-4">本を探す</h3>
        <div class='row'>
            <div class="col-md-8 offset-md-2 mb-4">
                <form action='/search' , method='GET' class="d-flex justify-content-center">
                    <div class="form-outline w-100">
                        <input type="search" id="form1" class="form-control" name="q" />
                        <label class="form-label" for="form1">タイトル・著者・出版社・キーワード</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="p-5 text-center bg-light" style="margin-top: 20px;">
        <div class='row align-items-center'>
            <h3 class="mb-4">ランダムピックアップ</h3>
            {% for book in picked_books %}
            <div class="col-md-2 col-sm-4 col-6 mb-3">
                {% if book.cover %}
                <!-- 表紙あり -->
                <a class="ripple" href="/book/{{ book.isbn10 }}">
                    <img src="{{ book.cover }}" class="img-fluid shadow-2-strong" alt="" />
                </a>
                {% else %}
                <!-- 表紙なし（仮） -->
                <a class="card bg-light" href="/book/{{ book.isbn10 }}">
                    <img src="../static/img/book.png" class="img-fluid" alt="" />
                    <div class="card-img-overlay" style="background-color: transparent;">
                        <p>{{ book.title }}</p>
                        <p>{{ book.authors.split(' ')[0] }}
                            {% if book.authors.split(' ')|length > 2 %}
                            ...
                            {% endif %}
                        </p>
                        <p>{{ book.publisher }}</p>
                    </div>
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
