{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="p-5 text-center bg-light" style="margin-top: 20px;">
        <h3 class="mb-4">本棚 ({{ page }}/{{ n_shelf }})</h3>
        <div class="row align-items-center">
            <!-- 表示数変更バー -->
            <div class="col-sm-3 offset-sm-9 col-4 offset-8 mb-3">
                <form action='/shelf/1' , method='POST'>
                    <label for="customRange3" class="form-label">表示数</label>
                    <div class="range">
                        <input type="range" class="form-range" min="6" max="60" step="6" id="customRange3"
                            value="{{ display }}" name="display">
                    </div>
                    <!-- 変更ボタンを押すと1ページまで戻る -->
                    <button type="submit" class="btn btn-primary mb-4" data-mdb-ripple-color="dark">
                        変更
                    </button>
                </form>
            </div>

            <!-- 書籍表示 -->
            {% for book in books %}
            <div class="col-md-2 col-sm-4 col-6 mb-3">
                {% if book._source.cover %}
                <!-- 表示画像あり -->
                <a class="ripple" href="/book/{{ book._source.isbn10 }}">
                    <img src="{{ book._source.cover }}" class="img-fluid shadow-2-strong" alt="" />
                </a>
                {% else %}
                <!-- 表紙画像なし -->
                <a class="card bg-light" href="/book/{{ book._source.isbn10 }}">
                    <img src="../static/img/book.png" class="img-fluid" alt="" />
                    <div class="card-img-overlay" style="background-color: transparent;">
                        <p>{{ book._source.title }}</p>
                        <p>{{ book._source.authors.split(' ')[0] }}
                            {% if book._source.authors.split(' ')|length > 2 %}
                            ...
                            {% endif %}
                        </p>
                        <p>{{ book.publisher }}</p>
                    </div>
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- ページネーション -->
    <div class="p-4 mb-4 text-center">
        <div class="d-flex justify-content-center mb-4">
            <nav aria-label="...">
                <ul class="pagination pagination-lg pagination-circle">
                    <!-- 2ページ目以降 -> 前ページ遷移ボタン表示 -->
                    {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a>
                    </li>
                    {% endif %}

                    <!-- ページボタン -->
                    {% for p in range(1, n_shelf + 1) %}
                    {% if p == page %}
                    <!-- 現在ページを強調表示 -->
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/shelf/{{ p }}?display={{ display }}">{{ p }}
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/shelf/{{ p }}?display={{ display }}">{{ p }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    <!-- 最終ページより前 -> 次ページ遷移ボタン表示  -->
                    {% if page < n_shelf %} <li class="page-item">
                        <a class="page-link" href="#">次へ</a>
                        </li>
                        {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}